Slicing a string

In [1]:
s = 'abcdefghijk'

In [2]:
s[0:]

'abcdefghijk'

In [3]:
s[:3] # up to but not including index 3

'abc'

In [4]:
s[3:6]

'def'

### list, append method, nested list

In [5]:
my_list = ['a' , 'b', 'c']

In [6]:
my_list.append('d')

In [7]:
my_list[1:3]

['b', 'c']

In [8]:
my_list[0] = 'new'

In [9]:
my_list

['new', 'b', 'c', 'd']

In [10]:
nest = [1, 2, [3, 4]]

In [11]:
nest[2][1]

4

### Dictionary, key value pairs

In [12]:
d = {'key1': 'the value', 'key2': 23}

In [13]:
d['key1']

'the value'

In [14]:
d2 = {'k1': {'innerkey': [1, 2, 3]}}

In [15]:
d2['k1']['innerkey'][1]

2

### For loop, While loop

In [16]:
seq = [1, 2, 3, 4, 5]

In [19]:
for num in seq:
    print 'hello' + str(num)

hello1
hello2
hello3
hello4
hello5

In [20]:
i = 1
while i < 5:
    print 'i is: {}'.format(i)
    i +=1

i is: 1
i is: 2
i is: 3
i is: 4

### Range

In [21]:
for x in range(0, 5):
    print x

0
1
2
3
4

In [22]:
list(range(3, 5))

[3, 4]

In [23]:
x = [1, 2, 3, 4]

In [24]:
out = []

In [25]:
for num in x:
    out.append(num ** 2)

In [26]:
out

[1, 4, 9, 16]

list comprehension

In [27]:
[num**2 for num in x]

[1, 4, 9, 16]

### Functions

In [ ]:
map() #<-- put the function to the sequence

In [28]:
def times2(num):
    return num*2

In [29]:
map(times2, x)

[2, 4, 6, 8]

In [31]:
map(lambda num: num*66, seq)

[66, 132, 198, 264, 330]

In [32]:
filter(lambda num: num %2 == 0, seq)

[2, 4]

### Methods

In [35]:
s.find('k')

10

In [36]:
tweet = "Go Sports! #Sports"

In [37]:
tweet.split("#") # <-- grab the hashtag from a tweet!

['Go Sports! ', 'Sports']

In [39]:
d.keys()

['key2', 'key1']

In [40]:
d.items()

[('key2', 23), ('key1', 'the value')]

In [41]:
d.values()

[23, 'the value']

In [44]:
my_list.pop()

'd'

In [45]:
my_list

['new', 'b', 'c']

In [46]:
'a' in x

False

In [47]:
x

[1, 2, 3, 4]

In [48]:
3 in x

True

### Tuple unpacking

In [49]:
x = [(1, 2), (3, 4), (5, 6)]

In [51]:
for (a, b) in x:
    print a

1
3
5

### Just grab the one part of the tuple!!!